[submodule "ci"]
	path = ci
	url = ../../../riscos/build/ci.git
[submodule "frontend/source/jfpatch-as-a-service-examples"]
	path = frontend/source/jfpatch-as-a-service-examples
	url = ../jfpatch-as-a-service-examples.git
