#!/bin/bash
##
# Run the two services
#

set -eo pipefail

scriptdir="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd -P)"
cd "$scriptdir/robuild-service"

logdir=logs

mkdir -p "$logdir"

sig_term() {
  echo "Requested to exit - killing subprocesses"
  kill -TERM "$pid_server" || true
  kill -TERM "$pid_wsserver" || true
  kill -TERM "$pid_sleep" || true
  echo "Exiting"
  exit
}

trap sig_term SIGTERM
trap sig_term SIGHUP
trap sig_term SIGINT

# Set up the virtualenv, we will use
rm -rf venv
virtualenv -p python3 venv
source venv/bin/activate

# Install the components we need
pip install -r requirements.txt

export PYTHONUNBUFFERED=1

# Using > >(...) to create a redirection to a subprocess.
# Using this rather than a pipe with | means that $! gets
# set to the pid of the first command, not the second.
echo "Starting servers..."
./server.py > >(awk '{ print strftime("%Y-%m-%d %H:%M:%S"), $0; fflush(); }' >> "$logdir/server.log") 2>&1 &
pid_server=$!
./wsserver.py > >(awk '{ print strftime("%Y-%m-%d %H:%M:%S"), $0; fflush(); }' >> "$logdir/wsserver.log") 2>&1 &
pid_wsserver=$!

# We will always wait for at least 20 seconds
sleep 20 &
pid_sleep=$!
wait

echo "Servers exited"
