@charset "utf-8";

/* The main boxes on the service page */
.box-content {
    margin: 0 0 0.25em 0;
    padding: 0em 0.25em 0.5em 0.25em;
    font-family: monospace;
    line-height: 1.3;
    background: black;
    color: white;
    white-space: pre-wrap;
    min-height: 10em;
    max-height: 80%;
    overflow: auto;
    resize: vertical;
}
div.box-heading {
    border-bottom: white solid 2px;
    border-top: white solid 2px;
    display: block;
    margin: 0;
    padding: 0.25em 0.25em 0.25em 0.25em;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: larger;
    background-color: silver;
    color: black;
}


/* The main build result window */
div#output span.message {
    color: mediumpurple;
    font-weight: bold;
    display: block;
}
div#output span.message::before {
    content: "►";
    font-weight: bold;
    padding-left: 0.25em;
    padding-right: 0.5em;
    width: 1em;
    display: inline-block;
    text-align: right;
}

div#output span.rc {
    color: mediumpurple;
    font-weight: bold;
    display: block;
}
div#output .rc.success {
    color: mediumseagreen;
}
div#output .rc.failure {
    color: crimson;
}
div#output span.rc.success::before {
    content: "✓";
    padding-left: 0.25em;
    padding-right: 0.5em;
    width: 1em;
    display: inline-block;
    text-align: right;
}
div#output span.rc.failure::before {
    content: "✘";
    padding-left: 0.25em;
    padding-right: 0.5em;
    width: 1em;
    display: inline-block;
    text-align: right;
}

div#output span.clipboard {
    color: cornflowerblue;
    font-weight: bold;
    display: block;
}
div#output span.clipboard::before {
    content: "⇩";
    font-weight: bold;
    padding-left: 0.25em;
    padding-right: 0.5em;
    width: 1em;
    display: inline-block;
    text-align: right;
}

div#output span.protoerror {
    color: gold;
    font-weight: bold;
    display: block;
}
div#output span.protoerror::before {
    content: "⚠";
    padding-left: 0.25em;
    padding-right: 0.5em;
    width: 1em;
    display: inline-block;
    text-align: right;
}

/* Throwback window styles
 * Colours taken from: https://github.com/jaylett/zap/blob/master/sources/!ZapSource/s/Mode11%2Cfff#L509
 */

/* The throwback window */
div.throwback-box {
    margin-top: 0.5em;
}
div.throwback-box div.box {
    white-space: pre;
    min-height: 4em;
}

div#throwback div.section {
    margin-bottom: 1em;
}
div#throwback div.heading {
    /* It's possible that this light yellow should only be on the line number, not the
     * heading line. I cannot tell from the Throwback source - haven't spent enough time
     * reviewing it and it's been 20 years since I worked with Zap...
     */
    color: palegoldenrod; /* #eeeebb */
}
div#throwback div.event {
}
div#throwback div.event + div.section {
    padding-top: 1.5em;
}

div#throwback div.section span.reason {
}
div#throwback div.section.info span.reason {
    color: darkturquoise; /* #ffbb00 */
}
div#throwback div.section.error span.reason {
    color: gold; /* #eeee00 */
}
div#throwback div.section span.filename {
    color: deepskyblue; /* #00bbff */
}

div#throwback div.heading span.line {
}
div#throwback div.heading span.type {
}
div#throwback div.heading span.message {
}

div#throwback span.line {
    width: 5em;
    display: inline-block;
    text-align: right;
}
div#throwback span.type {
    width: 12em;
    display: inline-block;
    text-align: left;
    margin-left: 1em;
}
div#throwback div.event {
    color: white;
}
div#throwback span.type.error {
    color: crimson; /* #DD0000 */
}
div#throwback span.type.serious {
    color: red; /* #DD2222 */
}
div#throwback span.type.warning {
    color: orange; /* #FFBB00 */
}
div#throwback span.message {
    display: inline-block;
    text-align: left;
}

label {
    display: inline-block;
    padding: 0.2em;
}

label.workflow-button, label.other-button {
    border: grey 3px solid;
    border-style: outset;
    background-color: #eeeeee;
    border-radius: 8px;
}
label.other-button {
    float: right;
}
label.workflow-button input {
    display: none;
}
label.workflow-button button {
    display: none;
}
label.other-button button {
    display: none;
}

label#source-button {
}
label#source-button input {
}

label#build-button {
}
label#build-button button {
}

label#download-button {
}
label#download-button button {
}

label.disabled, label[disabled] {
    opacity: .3;
}

/* Source save */
label#source-save-button {
    display: inline-block;
    padding: 0;
    float: right;
}
/*
label#source-save-button button {
    display: none;
}*/

/* Information (Help) */
div#help {
}
div#help {
    margin: 2em;
    border: 4px solid black;
    border-radius: 0.75em;
    padding: 1em;
}
div#help h2 {
    margin: 0em;
}
div#help img {
    height: 2em;
    margin-right: 0.5em;
    float: left;
}
div#help ul {
    margin: 0em 0em 1em 0em;
    padding: 0em;
}
div#help li {
    margin: 0em;
    padding: 0em;
    list-style-type: none;
}
div#help li + li {
    margin-top: 1em;
}

div.workflow {
    padding-top: 1em;
    margin-bottom: 1em;
}
div.workflow span.divider {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
div.workflow span.divider::before {
    content: "";
    background-image: url(icons/nextstep.png);
    background-size: auto 1.5em;
    height: 2em;
    width: 1.5em;
    vertical-align: middle;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.6;
}
div.workflow form {
    display: inline-block;
}
div.workflow label, div.workflow form {
}
div.workflow label img {
    height: 2em;
    vertical-align: middle;
}

/* Page styling */
html, body {
    height: 100%;
}
body {
    margin: 0;
    line-height: 1.4em;
    font-family: sans-serif;
    flex-direction: column;
    display: flex;
}
header {
    background-color: palegreen;
    font-family: sans-serif;
    font-size: 2em;
    padding: 4px;
    margin-bottom: 0.5em;
    /* Make the header bar stick to the top */
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
}
header a {
    text-decoration: none;
}
header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 1em;
}
header img.site-logo {
    vertical-align: middle;
    height: 1.5em;
}
header .section {
    float: right;
    font-variant: small-caps;
    display: inline-block;
    line-height: 100%;
    padding-top: 0.2em;
}
main {
    padding-top: 3.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

footer {
    background-color: palegreen;
    font-family: sans-serif;
    padding: 4px 2em 4px 8em;
    margin-top: auto;
    margin-bottom: 0em;
}
footer .disclaimer {
    font-style: italic;
    font-size: small;
    display: block;
    text-align: right;
    line-height: 120%;
}

/* Header menu */
.header-menu {
    float: right;
    display: inline-block;
    line-height: 0.5em;
}
.header-menu img {
    height: 1em;
    margin-left: 0.25em;
    margin-top: 0.15em;
}
ul.header-menu-block {
    position: absolute;
    z-index: 10;
    font-size: 0.5em;
    margin: 0;
    right: 0;
    padding: 0em;
    border: 4px solid green;
}
.header-menu-block li {
    margin: 0;
    list-style: none;
    padding: 0.5em;
    background-color: palegreen;
}
.header-menu-block li + li {
    border-top: 4px solid green;
}
.header-menu-block .page-link-description {
    display: none;
}


/* Document load menu */
nav.load-menu {
}
ul.load-menu-block {
    position: absolute;
    z-index: 5;
    margin: -0.75em 0.25em 0.25em 0.25em;
    left: 0.5em;
    padding: 0em;
    border: 4px solid grey;
}
.load-menu-block li {
    margin: 0;
    list-style: none;
    padding: 0.25em;
    background-color: #eeeeee;
    line-height: 100%;
}
.load-menu-block li + li {
    /*border-top: 4px solid grey;*/
}
.load-name {
    display: block;
}
.load-desc {
    display: block;
    font-size: 0.75em;
    xfont-variant: small-caps;
}


/* Documentation styles */
section {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
    clear: right;
}
h2 {
    background-color: dimgrey;
    color: white;
    padding: 0.25em;
    margin-left: -1.25em;
    margin-right: -1.25em;
}

h3 {
    background-color: darkgrey;
    color: white;
    margin-left: -0.75em;
    margin-right: -1.5em;
    padding: 0.25em;
}

table.param-list {
    margin-left: 2.5em;
    border-spacing: 0.5em;
    border-collapse: separate;
}
table.param-list tr.heading > th {
    text-align: left;
    vertical-align: bottom;
}

table.param-list tr.row > th {
    text-align: left;
    font-family: monospace;
    font-weight: normal;
    vertical-align: top;
    white-space: pre
}

table.param-list tr.row > td {
    text-align: left;
    vertical-align: top;
}


table.endpoint-list {
    margin-left: 2.5em;
    border-spacing: 0.5em;
    border-collapse: separate;
}
table.endpoint-list tr.heading > th {
    text-align: left;
}

table.endpoint-list tr.row > th {
    text-align: left;
    font-family: monospace;
    font-weight: normal;
    vertical-align: top;
    white-space: nowrap;
}

table.endpoint-list tr.row > td {
    text-align: left;
    vertical-align: top;
}

table.filter-accept-list {
    margin-left: 2.5em;
    border-spacing: 0.5em;
    border-collapse: separate;
}
table.filter-accept-list tr.heading > th {
    text-align: left;
}
table.filter-accept-list tr.row > td {
    text-align: left;
    font-family: monospace;
    font-weight: normal;
    vertical-align: top;
    white-space: pre
}


span.media-type {
    font-family: monospace;
}

span.method-name {
    font-weight: bold;
}

table.msg-table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

table.msg-table thead {
    background-color: lightgrey;
}

table.msg-table th, table.msg-table td {
    vertical-align: top;
    padding: 0.4em;
    border-top: 3px solid white;
}

table.msg-table tr.msg-sender-server {
    background-color: cornsilk;
}

table.msg-table tr.msg-sender-client {
    background-color: lightcyan;
}

table.msg-table td.msg-action {
    font-family: monospace;
}

table.msg-table div.msg-body {
    font-family: monospace;
    color: mediumblue;
    font-weight: bold;
    margin-bottom: 0.5em;
}

table.msg-table div.msg-annotation {
    font-style: italic;
}

/* Versions */
table.versions {
    border-spacing: 0.5em;
    border-collapse: separate;
}
table.versions tr.heading > th {
    text-align: left;
    vertical-align: bottom;
}

table.versions tr.row > th {
    text-align: left;
    font-weight: normal;
    vertical-align: top;
}

table.versions tr.row > td {
    text-align: left;
    vertical-align: top;
}

table.versions tr.row > td.date {
    white-space: nowrap;
}



li {
    margin-top: 0.75em;
}


code, span.asm {
    background-color: #DDDDDD;
    border: 1px #AAAAAA solid;
    padding: 0.125em 0.25em 0.125em 0.25em;
    border-radius: 3px;
    margin: 0 0.125em 0 0.125em;
}
span.asm {
    font-family: monospace;
}

div.jfpatch, div.yaml, div.python, div.shell {
    margin: 0.25em 1em 0.25em 1em;
    padding: 0.25em 0.25em 0.25em 0.25em;
    background-color: black;
}
.cm-s-autosize {
    height: auto;
}
.cm-s-scrolly {
    height: 20em;
}

.CodeMirror {
}

div.howitworks {
    text-align: center;
}
img.howitworks {
}


/* Remove the tools used for debugging */
form#general { display: none; }
div#log { display: none }


/* Status of the WebSocket connection */
.status {
    display: none;
    margin-left: 0.5em;
    margin-right: -0.5em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding: 0.5em;
    float: right;
}

.status-value {
    border-radius: 0.25em;
    border: 0.25em;
    padding: 0.25em;
}

.status-unknown {
    background-color: orange;
}
.status-connecting {
    background-color: yellow;
}
.status-ok {
    background-color: green;
}
.status-disconnected {
    background-color: orchid;
}
.status-error {
    background-color: red;
}

.statistics td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.statistics th {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
}

.statistics .statistics-section {
    background-color: darkgrey;
    color: white;
}

/*
body {
    background-color: #ddd;
}
p {
    background-color: #eef;
}
*/
